.underline {
  background-color: rgba(211, 253, 35, 0.9);
  margin: -45px 45px 20px 0px;
  padding: 20px 0px;
}
h1 {
  font-size: 85px;
  margin: 0px;
  text-transform: uppercase;
}

.hr {
  border: solid 1.5px #000;
  margin: 0px -1px;
}
